@reference "tailwindcss";

.headerMenu {
    transform: scaleY(0);
    transform-origin: top left;
    opacity: 0;

    /*idt it matters much*/
    --transition-curve: cubic-bezier(0.55, 0, 1, 0.45);

    transition:
        transform 200ms var(--transition-curve),
        opacity 200ms var(--transition-curve);

    overflow: hidden;

    /*slow transition looks shitty on big screens*/
    @media (min-width: 40rem) {
        & {
            transition:
                transform 200ms var(--transition-curve),
                opacity 100ms var(--transition-curve);
        }
    }

    &.open {
        opacity: 1;
        transform: scaleY(1);
    }
}

.ribbon {
    background-color: var(--color-light-shade-red);
    mask-image: url(Ribbon.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: bottom;
}

.menulist {
    .listTitle {
        anchor-name: --list-title;
    }
    .listItem {
        @apply relative;
        &:last-child {
            anchor-name: --last-elm;
            .thelittledash {
                @apply rounded-bl-4xl;
            }
        }
    }
    .indexline {
        position: absolute;
        position-anchor: --list-title --last-elm;
        top: anchor(--list-title bottom);
        bottom: anchor(--last-elm center);
    }
}
